{% extends 'base.html.twig' %}

{% block title %}Redscorpio4
{% endblock %}

{% block body %}
	<div class="position-relative">
		<h1 class="display-1 text-white position-absolute top-50 start-50 translate-middle">Redscorpio4</h1>
		<img class="w-100" src="{{ asset('image/Arbre.png') }}" alt="">
	</div>
{% endblock %}
