@import "./custom";
@import "../node_modules/bootstrap/scss/bootstrap.scss";

// fonts
@font-face {
    font-family: "Orbitron";
    src:url('..\assets\fonts\Orbitron-VariableFont_wght.ttf');
    font-display: auto;
}

// Body
// le corps du Site

body {
    background: $dark;
}

h2{
    font-family: Orbitron, sans-serif;
    font-weight: normal;
    font-size: 3em;
}

// header
// en-tête

header h1 {
    font-size: calc(100% + 4vw + 4vh);
    font-weight: 700;
    font-style: normal;
    font-family: Orbitron, sans-serif;
    text-shadow: 4px 4px 10px #FF0000;
}

// barre navigation
// navigation bar

header nav {
    font-family: Orbitron, sans-serif;
    font-size: 1.5em;
}

header nav li{
    position: relative;
}

header nav li::before{  
    transform: scaleX(0);
    transform-origin: bottom right;
}

header nav li:hover::before {
    transform: scaleX(1);
    transform-origin: bottom left;
}

header nav li::before {
    content: " ";
    display: block;
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    inset: 0 0 0 0;
    background: $darkred;
    z-index: -1;
    transition: transform .3s ease;
}

// About

.w-about {
    font-family: Orbitron, sans-serif;
    font-weight: normal;
    width: 60%;
    max-height: 700px;
    padding: 2%;
    font-size: 1.1em;
    box-shadow: 10px 10px $danger;
}

.img-about{
    max-width: 1903px;
    max-height: 584px;
}

// Carousel

.img-carousel{
    height: 873px;
}

.carousel-rep{
    padding-top: 2.5%;
    border: 0; 
    width: 500px; 
    height: 848px;
}

// Remixes

.youtube{
    z-index: 1;
    width: 800px;
    height: 400px;
    margin-bottom: 10px;
    box-shadow: 10px 10px $danger;
}

// Original Tracks

.youtube2{
    width: 800px;
    height: 400px;
    box-shadow: -10px 10px 0px 0px $danger;
}

// Contact

.bg-black-bi{
    background-image: linear-gradient(to bottom, $black 78%, $dark 15%);
}

.padding{
    padding-top: 400px;
}

.form{
    font-family: Orbitron, sans-serif;
    max-width: 537px;
    width: 100%;
    height: 533px;
}

// ScrollPos

#returnToHeader{
    position: fixed;
    bottom: 5rem;
    transition: .3s;
}

// media query


@media (max-width: 655px) {  
    header h1 {
        font-size: calc(100% + 1vw + 1vh);
    }
  }

@media screen and (max-width:768px){

    .img-carousel{
        display: none;
    }
    
    .carousel-rep{
        padding-top: 0;  
        width: 100%;
    }

    .carousel-control-prev {
        display: none;
    }

    .carousel-control-next {
        display: none;
    }
}

@media screen and (max-width:991px){

    .bg-lg-black {
        background-color: $black;
        margin-top: 10px;
        z-index: 1;
    }

    .w-about {
        position: relative !important;
        right: 0 !important;
        margin: 0 !important;
        width: 98%;
        max-height: 790px;
    }

    .img-about{
       display: none;
    }

    .image-remixe {
        display: none;
    }

    .youtube{
        width: 90%;
        box-shadow: none;
    }

    .youtube2 {
        width: 90%;
        box-shadow: none;
    }
    
    .remixe {
        background-color: $dark !important;
    }

    .remixe  h2{
        background-color: $black;
        position: relative !important;
        padding-top: 3rem;
        padding-bottom: 3rem;
        right: 0 !important;
    }

    #returnToHeader{
        display: none;
    }
}

@media screen and (max-width:1400px){

    .w-about {
        font-size: 0.75em;
        box-shadow: none;
    }
}

@media screen and (max-width:1500px){
    .original-tracks h2{
        margin: 0 !important;
        text-align: center;
    }

    .youtube2{
        position: relative !important;
        right: 0 !important;
    }

    .padding{
        padding-top: 96px;
    }

}

