@import "custom";
@import "~bootstrap/scss/bootstrap";

@font-face {
    font-family: "Orbitron";
    src:url('../fonts/Orbitron-Regular.ttf'),
}

@font-face {
    font-family: "Orbitron-SemiBold";
    src:url('../fonts/Orbitron-SemiBold.ttf'),
}

@font-face {
    font-family: "Roboto";
    src:url('../fonts/Roboto-Regular.ttf'),
}

h1 {
    font-family: Orbitron-SemiBold;
    font-size: 96px;
}

.text-shadow {
    text-shadow: 4px 4px 10px #FF0000;
}

li{
    font-family: Orbitron; 
    font-size: 24px;
}

.w-reponsive {
    width: 550px;
    padding: 25px;
    margin-right: 20%;
    margin-left: 50%;
    font-size: 16px;
}


@media screen and (max-width:1158px){
    .w-reponsive {
        width: 350px;
        font-size: 10px;
        margin-left: 40%;
    }
}

@media screen and (max-width:700px){
    h1 {
        font-size: 38px;
    }
}

@media screen and (max-width:600px){
    .w-reponsive {
        width: 250px;
        padding: 10px;
        margin-left: 5%;
        margin-right: 5%;
        font-size: 5px;
    }
}