@import "custom";
@import "~bootstrap/scss/bootstrap";

// fonts
@font-face {
    font-family: "Orbitron";
    src:url('../fonts/Orbitron-Regular.ttf');
    font-display: auto;
}

@font-face {
    font-family: "Orbitron-SemiBold";
    src:url('../fonts/Orbitron-SemiBold.ttf');
    font-display: auto;
}

// Title of the Site

h1 {
    font-family: Orbitron-SemiBold, sans-serif;
    font-size: 96px;
}

.text-shadow {
    text-shadow: 4px 4px 10px #FF0000;
}

// Navbar
.navbar li{
    position: relative;
       font-family: Orbitron, sans-serif; 
    font-size: 24px;
}
.navbar li::before{  
    transform: scaleX(0);
    transform-origin: bottom right;
}
.navbar li:hover::before {
    transform: scaleX(1);
    transform-origin: bottom left;
}
.navbar li::before {
    content: " ";
    display: block;
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    inset: 0 0 0 0;
    background: $darkred;
    z-index: -1;
    transition: transform .3s ease;
}

// About

.w-reponsive {
    width: 550px;
    padding: 25px;
    font-size: 16px;
}

//Reximes

.h-block{
    margin-top: 100px;
} 

//Video Youtube

.position-absolute-end {
    position:absolute;
    top: 50px; 
    left: 75%;
}

// Bouton

.text-fonts-1{
  font-family: Orbitron, sans-serif;
  font-size: 24px;
}


// Original

//Video Youtube

.position-absolute-y {
    position:absolute;
    top: 50px; 
    right: 30px;
}

// Carousel

.banpcamp-taille{
    display: block;
    border: 0; 
    margin-left: auto;
    margin-right: auto;
    width: 350px;
    height: 600px;
}


//Contact

// title

.text-fonts{
    font-family: Orbitron, sans-serif;
    font-size: 48px;
}

.bg-black-bi{
    background-image: linear-gradient(to bottom, $black 78%, $dark 15%);
}

//ScrollToTop

#returnToHeader{
    position: fixed;
    right: 0;
    bottom: 3rem;
    transition: .3s;
}

// Reponsive

@media screen and (min-width:2500px){

    // About

    .w-reponsive {
        width: 1100px;
        font-size: 30px;
    } 
}

@media screen and (min-width:700px){

    //Reximes

    .h-block{
        height: 550px;
    }

    .bg-black-youtube {
        background-color: $black;
    }

    //Reximes et Original
    //Video Youtube

    .youtube-taille{
        width: 700px;
        height: 359px;
    }
}

@media screen and (min-width:1259px){

    //Reximes

    .h-block{
        height: 515px;
    }
}

@media screen and (max-width:1646px){
    //Reximes
    //Video Youtube

    .position-absolute-end {
        position: relative;
        top: 0;
        left: 0;
    }
}
@media screen and (max-width:992px){

    //Navbar

    .bg-lg-black {
        background-color: $black;
        margin-top: 10px;
        z-index: 1;
    }

    //ScrollToTop

    #returnToHeader{
        position: relative;

    }
}

@media screen and (max-width:1258px){

    // About

    .w-reponsive {
        width: 350px;
        font-size: 10px;
    }
    // Original

    //Video Youtube

    .position-absolute-y {
        position:absolute;
        top: 90px; 
        right: 0px;
    }
}

@media screen and (max-width:840px){

    //Contact

    .bg-black-bi{
        background-image: linear-gradient(to bottom, $black 100%, $dark 0%);
        padding-bottom: 100px;
    }
}

@media screen and (max-width:760px){

    // Title of the Site

    h1 {
        font-size: 38px;
    }

    //Reximes et Original
    //Video Youtube
    
    .youtube-taille{
        display: flex;
        justify-content: center;
        margin-left: 0%;
        width: 90%;
    }

    // image reximes

    .image-none{
        display: none;
    }

    // Original
    //Video Youtube

    .position-absolute-y {
        position: relative;
        top: 0;
        right: 0;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    
    //ContacT
    // title

    .text-fonts{
        font-size: 24px;
      }

}

@media screen and (max-width:600px){

    // About

    .w-reponsive {
        width: 250px;
        padding: 10px;
        font-size: 5px;
    }

    // Carousel
    
    .carousel-control-prev {
        display: none;
    }

    .carousel-control-next {
        display: none;
    }
   
    .banpcamp-taille{
        width: 280px;
    }
    
}
