$light: #E5E5E5;
$black: #000;
$dark: #212529;

$theme-colors: (
  "light":   $light,
  "black":   $black,
  "dark":   $dark
);

$display-font-sizes: (
  1: 8em,
  2: 4.5rem,
  3: 4rem,
  4: 3.5rem,
  5: 3rem,
  6: 2.5rem
);

$utilities: (

  "width": (
      property: width,
      class: w,
      values: (
        25: 25%,
        50: 50%,
        75: 75%,
        100: 100%,
        auto: auto
      )
    )
);

