<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
	</head>
	<body>
		<div>
			<h1>RedScorpio4</h1>
		</div>
		<h1>Demande de
			{{ contact.Name }}</h1>
		<p>Email :
			{{ contact.Mail }}</p>
		<p>Message :</p>
		<div>
			{{ contact.Message|raw }}
		</div>
	</body>
</html>
